.totop {
	width: 60px;
	height: 60px;
	background: url(../Content/image/navigate-up.png) center center no-repeat darkred;
	background-size: 30px 30px;
	border-radius: 50%;
	position: fixed;
	right: 50px;
	bottom: 50px;
	display: none;
	z-index: 999;
}

.plugin-butterfly {
	position: absolute;
	top: 10px;
	left: 90px;
}

.row-margin-top {
	margin-top: 10px;
}

.hr-Ext {
	margin-bottom: 0rem;
}

.jumbotron-ext {
	padding: 2rem 3rem;
	border-radius: 0.8rem;
	background: url("../Content/image/timg.png") no-repeat;
	background-size: 100% 100%;
}

.main-ext {
	background-color: aliceblue;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.btn-square {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
}

.input-print {
	border: 1px solid black;
}

.input-addBorder {
	border: 1px solid black;
}

.button-addBorder {
	border: 1px solid black;
	background: white;
}

.label-title {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	font-size: 2.5rem;
	color: white;
}

.div-famousPeople {
	margin-left: 30px;
}

.text-info-ext {
	color: #6c757d !important;
	font-size: 0.7rem;
}

.divFruitDrag {
	z-index: 2;
	width: 40px;
	height: 40px;
	background: aliceblue;
}

.divBall {
	z-index: 2;
	width: 40px;
	height: 40px;
	background: aliceblue;
}

.divContainer {
	z-index: 1;
	width: 80px;
	height: 80px;
	background: aliceblue;
	position: absolute;
	border: 1px solid #ccc;
}

.divGoaler {
	z-index: 1;
	width: 200px;
	height: 140px;
	background: aliceblue;
	position: absolute;
	border: 1px solid #ccc;
}

.divScore {
	z-index: 1;
	background: aliceblue;
	position: absolute;
	border: none;
}

.divScoreGoalResultImg {
	z-index: 1;
	background: aliceblue;
	position: absolute;
	border: none;
	left: 530px;
	top: 200px;
}

.divScore0 {
	left: 500px;
	top: 90px;
}

.divScore1 {
	left: 555px;
	top: 90px;
}

.divScore2 {
	left: 605px;
	top: 90px;
}

.divGoaler0 {
	left: 250px;
	top: 20px;
}

.divGoaler1 {
	left: 660px;
	top: 20px;
}


.divSeat0 {
	left: 250px;
	top: 20px;
}

.divSeat4 {
	left: 300px;
	top: 130px;
}

.divSeat7 {
	left: 300px;
	top: 230px;
}

.divSeat1 {
	left: 360px;
	top: 20px;
}

.divSeat5 {
	left: 410px;
	top: 130px;
}

.divSeat8 {
	left: 410px;
	top: 230px;
}

.divSeat2 {
	left: 470px;
	top: 20px;
}

.divSeat6 {
	left: 520px;
	top: 130px;
}

.divSeat9 {
	left: 520px;
	top: 230px;
}

.divSeat3 {
	left: 580px;
	top: 20px;
}

.form-inline-ext {
	padding-left: 15px;
	padding-right: 8px;
	text-align: left !important
}

.fruitsImg {
	margin-top: -10px;
}

.easyui-panel-ext {
	position: relative;
	overflow: hidden;
	width: 800px !important;
	height: 300px !important;
	display: inline-block;
	left: 20px;
}

.easyui-panel-ScoreGoal-ext {
	position: relative;
	overflow: hidden;
	width: 900px !important;
	height: 300px !important;
	display: inline-block;
	left: 100px;
}

.list-group-ext {
	width: 100%;
}

.drawLine-panel-lengthways {
	position: relative;
	overflow: hidden;
	width: 400px !important;
	height: 300px !important;
	display: inline-block;
	left: 50px;
}

.OKEqualityLinkage-lengthways {
	position: relative;
	left: 50px;
	top: -170px;
	width: 80px;
	height: 80px;
}

.OKEqualityLinkage-crosswise {
	position: relative;
	left: 50px;
	top: -100px;
	width: 80px;
	height: 80px;
}

.NoEqualityLinkage-lengthways {
	position: relative;
	left: 50px;
	top: -170px;
	width: 80px;
	height: 80px;
}

.NoEqualityLinkage-crosswise {
	position: relative;
	left: 50px;
	top: -100px;
	width: 80px;
	height: 80px;
}

.drawLine-panel-crosswise {
	position: relative;
	overflow: hidden;
	width: 700px !important;
	height: 200px !important;
	display: inline-block;
	left: 50px;
}

.divDrawLine-print {
	border: 1px solid #0094ff;
}

.divDrawLine {
	position: absolute;
	background: #9fcfff;
	width: 110px;
	height: 30px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 6px;
	cursor: pointer;
}

svg {
	position: absolute;
	z-index: 1;
}

.rating-stars {
	width: 100%;
	text-align: center;
}

.rating-stars .rating-stars-container {
	font-size: 0px;
}

.rating-stars .rating-stars-container .rating-star {
	display: inline-block;
	font-size: 32px;
	color: #555555;
	cursor: pointer;
	padding: 5px 10px;
}

.rating-stars .rating-stars-container .rating-star.is--active,
.rating-stars .rating-stars-container .rating-star.is--hover {
	color: #f1c40f;
}

.rating-stars .rating-stars-container .rating-star.is--no-hover {
	color: #555555;
}


