.totop {
	width: 60px;
	height: 60px;
	background: url(../Content/image/navigate-up.png) center center no-repeat darkred;
	background-size: 30px 30px;
	border-radius: 50%;
	position: fixed;
	right: 50px;
	bottom: 50px;
	display: none;
	z-index: 999;
}

.plugin-butterfly {
	position: absolute;
	top: 10px;
	left: 90px;
}

.row-margin-top {
	margin-top: 10px;
}

.hr-Ext {
	margin-bottom: 0rem;
}

.jumbotron-ext {
	padding: 2rem 3rem;
	border-radius: 0.8rem;
	background: url("../Content/image/timg.png") no-repeat;
	background-size: 100% 100%;
}

.main-ext {
	background-color: aliceblue;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.btn-square {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
}

.input-print {
	border: 1px solid black;
}

.input-addBorder {
	border: 1px solid black;
}

.button-addBorder {
	border: 1px solid black;
	background: white;
}

.label-title {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	font-size: 2.5rem;
	color: white;
}

.div-famousPeople {
	margin-left: 30px;
}

.text-info-ext {
	color: #6c757d !important;
	font-size: 0.7rem;
}

.form-inline-ext {
	padding-left: 15px;
	padding-right: 8px;
	text-align: left !important
}

.fruitsImg {
	margin-top: -10px;
}

.list-group-ext {
	width: 100%;
}

svg {
	position: absolute;
	z-index: 1;
}

.rating-stars {
	width: 100%;
	display: inline-block;
	color: #555555;
	cursor: pointer;
}

.rating-stars-container {
	display: inline-block;
	color: #555555;
	cursor: pointer;
	padding: 5px 10px;
}

.rating-star {
	display: inline-block;
	font-size: 32px;
	color: #555555;
	cursor: pointer;
	padding: 5px 10px;
}

.rating-stars .rating-stars-container .rating-star.is--active,
.rating-stars .rating-stars-container .rating-star.is--hover {
	color: #f1c40f;
}

.rating-stars .rating-stars-container .rating-star.is--no-hover {
	color: #555555;
}

.divCorrectOrFault-1 {
	width: 40px;
	height: 40px;
	background-color: transparent;
	margin-left: 4px;
	margin-top: -10px;
}

.imgCorrect-1 {
	width: 40px;
	height: 40px;
	display: none;
}

.imgFault-1 {
	width: 0px;
	height: 0px;
	display: none;
	margin: auto;
}

.divCorrectOrFault-2 {
	width: 20px;
	height: 20px;
	background-color: transparent;
	margin-left: 4px;
	margin-top: -10px;
}

.imgCorrect-2 {
	width: 20px;
	height: 20px;
	display: none;
}

.imgFault-2 {
	width: 0px;
	height: 0px;
	display: none;
	margin: auto;
}

.divCorrectOrFault-3 {
	width: 30px;
	height: 30px;
	background-color: transparent;
	margin-left: 4px;
	margin-top: -10px;
}

.imgCorrect-3 {
	width: 30px;
	height: 30px;
	display: none;
}

.imgFault-3 {
	width: 0px;
	height: 0px;
	display: none;
	margin: auto;
}

.divCorrectOrFault-4 {
	width: 60px;
	height: 60px;
	background-color: transparent;
	margin-left: 4px;
	margin-top: -10px;
}

.imgCorrect-4 {
	width: 60px;
	height: 60px;
	display: none;
}

.imgFault-4 {
	width: 0px;
	height: 0px;
	display: none;
	margin: auto;
}