<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../Content/image/favicon.ico">
	<link href="../Content/bootstrap.min.css" rel="stylesheet" charset="utf-8">
	<link href="../Content/font-awesome.min.css" rel="stylesheet" charset="utf-8">
	<link href="../Content/MathSheets.css" rel="stylesheet" charset="utf-8">
	<link href="../Content/CurrencyLinkage.css" rel="stylesheet" type="text/css" />
	<script src="../Scripts/jquery-3.3.1.min.js" charset="utf-8"></script>
	<script src="../Scripts/jquery.PrintArea.js" charset="utf-8"></script>
	<script src="../Scripts/jquery.easyui.min.js" charset="utf-8"></script>
	<script src="../Scripts/umd/popper.js" charset="utf-8"></script>
	<script src="../Scripts/bootstrap.min.js" charset="utf-8"></script>
	<script src="../Scripts/store.legacy.min.js" charset="utf-8"></script>
	<script src="../Scripts/json2.min.js" charset="utf-8"></script>
	<script src="../Scripts/snap/snap.svg-min.js"></script>
	<script src="../Scripts/jquery.rating-stars.min.js"></script>
	<script src="../Scripts/Ext/MathSheets.Common.js" charset="utf-8"></script>
	<script src="../Scripts/Ext/MathSheets.CurrencyLinkage.js" charset="utf-8"></script>
	<title>題庫</title>

	<script>
		// 打印
		function btnPrintClick() {
			MathSheets.CurrencyLinkage.printSetting();

			// 頁面答應處理
			MathSheets.Common.pagePrint('divPrintContent');
			// 打印后恢復頁面最初狀態設置
			MathSheets.Common.printAfterSetting('btnTheirPapers', 'btnMakeCorrections', 'btnOver');
			// 打印后頁面設定
			MathSheets.CurrencyLinkage.printAfterSetting();
		}

		// 答題準備按鍵
		function btnReadyClick() {
			// 設定頁面所有輸入域為可用狀態(共通)-交卷按鈕顯示,準備按鈕隱藏,打印按鈕隱藏
			MathSheets.Common.ready('btnTheirPapers', 'btnReady', 'btnPrint');
			// 設定頁面所有輸入域為可用狀態(認識貨幣)
			MathSheets.CurrencyLinkage.ready();

			// 計時開始
			MathSheets.Common.startTime('spanSS', 'spanMM', 'spanHH');
		}

		// 完成(關閉頁面)
		function btnOverClick() {
			MathSheets.Common.windowClose();
		}

		// 訂正按鈕(不計入答題情況信息)
		function btnMakeCorrectionsClick() {
			var fault = 0;
			// 認識貨幣
			fault += MathSheets.CurrencyLinkage.makeCorrections();

			// 訂正按鈕處理
			MathSheets.Common.makeCorrections(fault, 'btnMakeCorrections', 'btnOver');
		}

		// 交卷按鈕(記錄在答題情況下,以便可以看到前一次做題情況)
		function btnTheirPapersClick() {
			// 認識貨幣
			MathSheets.CurrencyLinkage.theirPapers();

			// 交卷按鈕處理
			MathSheets.Common.theirPapers('spanOK', 'spanNo', 'btnMakeCorrections', 'btnOver', 'btnTheirPapers');
			// 計時停止（答題結果設定）
			MathSheets.Common.timeStop('spanSS', 'spanMM', 'spanHH');
		}
	</script>
</head>
<body>
	<div class="container theme-showcase main-ext" role="main">
		<div class="jumbotron-ext">
			<div style="margin-bottom: 50px;"><span class="label label-default label-title">歡迎，數學運算</span></div>
			<div class="div-famousPeople">
				<h6>
					<span class="text-info-ext">普羅克拉斯：哪裡有數，哪裡就有美。</span>
					<br />
					<span class="text-info-ext">羅素：數學，如果正常的看它，不但擁有真理，而且也具有至高的美，正如雕塑的美，是一種冷而嚴肅的美。"</span>
					<br />
					<span class="text-info-ext">華羅庚：數學是壯麗多彩、千姿百態、引人入勝的，認為數學枯燥乏味的人，只是看到了數學的嚴謹性，而沒有體會出數學的內在美。"</span>
				</h6>
			</div>
			<hr class="hr-Ext" />
			<div class="text-info-ext">
				前一次做題用時:<span id="spanOld" style="padding-left:10px;">00：00：00</span>
				<span style="padding-left:20px;">答對:</span><span id="spanOldOK" style="padding-left:10px;"></span>題
				<span style="padding-left:20px;">答錯:</span><span id="spanOldNo" style="padding-left:10px;"></span>題
			</div>
			<div class="plugin-butterfly">
				<iframe frameborder="0" scrolling="no" src="../Plugin/butterfly.html" width="320" height="250"></iframe>
			</div>
		</div>
		<div id="divPrintContent">
			<br /><div class="page-header"><h4><img src="../Content/image/homework.png" width="30" height="30" /><span style="padding: 8px">認識價格</span></h4></div><hr />
			<div class="row text-center row-margin-top drawLine-panel-currency-crosswise">
				<svg id="svgCl01" style="left: 0px; top: 0px;" width="0" height="0">
					<line id="lineCl00" x1="0" y1="0" x2="0" y2="0" stroke="#ff006e" stroke-width="1" />
					<line id="lineCl01" x1="0" y1="0" x2="0" y2="0" stroke="#ff006e" stroke-width="1" />
					<line id="lineCl02" x1="0" y1="0" x2="0" y2="0" stroke="#ff006e" stroke-width="1" />
					<line id="lineCl03" x1="0" y1="0" x2="0" y2="0" stroke="#ff006e" stroke-width="1" />
					<line id="lineCl04" x1="0" y1="0" x2="0" y2="0" stroke="#ff006e" stroke-width="1" />
				</svg>
				<div class="divDrawLine-currency" style="left: 30px; top:10px;" id="divCl00S">
					<img src="../Content/image/shop/Mittens.png" width="60" height="60" />
					<h6><span class="label">1.53</span></h6>
					<input type="checkbox" id="chkdivCl00S" style="display: none;" />
					<input type="hidden" value="lineCl00" />
				</div>
				<div class="divDrawLine-currency" style="left: 160px; top:10px;" id="divCl01S">
					<img src="../Content/image/shop/Shirt.png" width="60" height="60" />
					<h6><span class="label">9.60</span></h6>
					<input type="checkbox" id="chkdivCl01S" style="display: none;" />
					<input type="hidden" value="lineCl01" />
				</div>
				<div class="divDrawLine-currency" style="left: 290px; top:10px;" id="divCl02S">
					<img src="../Content/image/shop/RubiksCube.png" width="60" height="60" />
					<h6><span class="label">3.05</span></h6>
					<input type="checkbox" id="chkdivCl02S" style="display: none;" />
					<input type="hidden" value="lineCl02" />
				</div>
				<div class="divDrawLine-currency" style="left: 420px; top:10px;" id="divCl03S">
					<img src="../Content/image/shop/Hat.png" width="60" height="60" />
					<h6><span class="label">9.62</span></h6>
					<input type="checkbox" id="chkdivCl03S" style="display: none;" />
					<input type="hidden" value="lineCl03" />
				</div>
				<div class="divDrawLine-currency" style="left: 550px; top:10px;" id="divCl04S">
					<img src="../Content/image/shop/Ruler.png" width="60" height="60" />
					<h6><span class="label">2.94</span></h6>
					<input type="checkbox" id="chkdivCl04S" style="display: none;" />
					<input type="hidden" value="lineCl04" />
				</div>
				<div class="divDrawLine-currency" style="left: 30px; top:150px;" id="divCl00E">
					<img src="../Content/image/shop/Money.png" width="60" height="60" />
					<h6><span class="label">2元9角4分</span></h6>
					<input type="checkbox" id="chkdivCl00E" style="display: none;" />
				</div>
				<div class="divDrawLine-currency" style="left: 160px; top:150px;" id="divCl01E">
					<img src="../Content/image/shop/Money.png" width="60" height="60" />
					<h6><span class="label">9元6角2分</span></h6>
					<input type="checkbox" id="chkdivCl01E" style="display: none;" />
				</div>
				<div class="divDrawLine-currency" style="left: 290px; top:150px;" id="divCl02E">
					<img src="../Content/image/shop/Money.png" width="60" height="60" />
					<h6><span class="label">9元6角</span></h6>
					<input type="checkbox" id="chkdivCl02E" style="display: none;" />
				</div>
				<div class="divDrawLine-currency" style="left: 420px; top:150px;" id="divCl03E">
					<img src="../Content/image/shop/Money.png" width="60" height="60" />
					<h6><span class="label">3元5分</span></h6>
					<input type="checkbox" id="chkdivCl03E" style="display: none;" />
				</div>
				<div class="divDrawLine-currency" style="left: 550px; top:150px;" id="divCl04E">
					<img src="../Content/image/shop/Money.png" width="60" height="60" />
					<h6><span class="label">1元5角3分</span></h6>
					<input type="checkbox" id="chkdivCl04E" style="display: none;" />
				</div>
				<input type="hidden" id="hidCurrencySelectedS" />
				<input type="hidden" id="hidCurrencySelectedE" />
				<input type="hidden" id="hidCurrencyInitSettings" value="#divCl00S,#divCl04S,#divCl00E,0,#svgCl01" />
				<input type="hidden" value="divCl00S#divCl04E;divCl01S#divCl02E;divCl02S#divCl03E;divCl03S#divCl01E;divCl04S#divCl00E" id="hidClAnswer" />
			</div>
			<img id="imgOKCurrencyLinkage" src="../Content/image/correct.png" class="OKCurrencyLinkage-crosswise" style="display: none; " />
			<img id="imgNoCurrencyLinkage" src="../Content/image/fault.png" class="NoCurrencyLinkage-crosswise" style="display: none; " />

		</div>
		<HR>
		<div class="row">
			<div class="col-md-12 col-md-offset-3">
				<p class="text-center">
					<button id="btnReady" type="button" class="btn btn-lg btn-success">準備</button>
					<button id="btnTheirPapers" type="button" class="btn btn-lg btn-success" style="display:none;">交卷</button>
					<button id="btnMakeCorrections" type="button" class="btn btn-lg btn-warning" style="display:none;">訂正</button>
					<button id="btnOver" type="button" class="btn btn-lg btn-info" style="display:none;">完成</button>
					<button id="btnPrint" type="button" class="btn btn-lg btn-info">打印</button>
				</p>
			</div>
		</div>
		<div class="page-header">
			<div class="row text-center row-margin-top">
				<div class="col-md-2">
					<h4> 練習情況</h4>
				</div>
				<div class="col-md-9">
					<div class="rating-stars block" id="more-rating" style="display: none;">
						<input type="hidden" id="hidPracticeScore" value="0" class="rating-value" />
						<div class="rating-stars-container">
							<div class="rating-star">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star">
								<i class="fa fa-star"> </i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="well">
			<p>
				做題用時:<span id="spanHH" style="padding-left:10px;">00</span>：<span id="spanMM">00</span>：<span id="spanSS">00</span>
				<br />答對:<span id="spanOK" style="padding-left:20px;"></span>題
				<br />打錯:<span id="spanNo" style="padding-left:20px;"></span>題
			</p>
		</div>
	</div>
	<a href="javascript:" class="totop"></a>
</body>
</html>