<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="Operation" type="MyMathSheets.CommonLib.Configurations.OperationProviderConfigurationSection, MyMathSheets.CommonLib" />
    <section name="PluginManage" type="MyMathSheets.CommonLib.Configurations.PluginManageProviderConfigurationSection, MyMathSheets.CommonLib" />
  </configSections>
  <Operation importType="json" argument="..\Config\"></Operation>
  <PluginManage importType="MyMathSheets.CommonLib.Plugin.PluginsManager" 
                searchKeyword="MyMathSheets.TheFormulaShows.*.dll" 
                excludeAssemblies="[
                                    'MyMathSheets.CommonLib.dll',
                                    'MyMathSheets.BasicOperationsLib.dll',
                                    'MyMathSheets.TheFormulaShows.Generally.Arithmetic.dll'
                                    ]">
  </PluginManage>
  <common>
    <logging>
      <factoryAdapter type="MyMathSheets.CommonLib.Logging.NLogLoggerFactoryAdapter, MyMathSheets.CommonLib">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="../NLog.config" />
      </factoryAdapter>
    </logging>
  </common>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- 程序集讀取位置 -->
    <add key="Path.ApplicationRoot" value="." />
    <!-- HTML模板所在位置 -->
    <add key="Path.HtmlTemplate" value="..\HtmlTemplate\HTMLPage" />
    <!-- 題型試卷存放位置 -->
    <add key="HtmlWork" value="..\App_Data\Work\Page\" />
    <!-- 瀏覽器指定 -->
    <add key="Preview" value="chrome.exe" />
    <!-- 題型參數配置管理 -->
    <add key="App.TopicManagement" value="..\Config\TopicManagement.json" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>