<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Operation" type="MyMathSheets.CommonLib.Provider.OperationProviderConfigurationSection, MyMathSheets.CommonLib" />
	</configSections>
	<Operation type="json" argument="..\Config\ParameterSetting.json"></Operation>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="Template" value="..\HtmlTemplate\HTMLPage" />
		<add key="HtmlWork" value="..\App_Data\Work\Page\" />
	</appSettings>
</configuration>