<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <variable name="OutputNormalPath" value="Log/${shortdate}" />

  <targets>
    <target name="TraceFileLog" xsi:type="File"
				fileName="${OutputNormalPath}/TRC.log"
				archiveAboveSize="5242880"
				archiveFileName="${OutputNormalPath}/TRC_{####}.log"
				archiveNumbering="Sequence"
				maxArchiveFiles="10000">
      <layout xsi:type="CSVLayout">
        <quoting>Auto</quoting>
        <withHeader>false</withHeader>
        <delimiter>Tab</delimiter>
        <column name="時間" layout="${date:format=yyyy/MM/dd HH\:mm\:ss.fff}" />
        <column name="類名" layout="${callsite:className=true:methodName=false}" />
        <column name="方法名" layout="${callsite:className=false:methodName=true}" />
        <column name="信息" layout="${message}" />
        <column name="內容" layout="${event-context:item=Dump}" />
      </layout>
    </target>

    <target name="ErrorFileLog" xsi:type="File"
				fileName="${OutputNormalPath}/ERR.log"
				archiveAboveSize="5242880"
				archiveFileName="${OutputNormalPath}/ERR_{####}.log"
				archiveNumbering="Sequence"
				maxArchiveFiles="10000">
      <layout xsi:type="CSVLayout">
        <quoting>Auto</quoting>
        <withHeader>false</withHeader>
        <delimiter>Tab</delimiter>
        <column name="時間" layout="${date:format=yyyy/MM/dd HH\:mm\:ss.fff}" />
        <column name="信息" layout="${message}" />
        <column name="異常" layout="${exception:format=tostring}" />
        <column name="類名" layout="${callsite:className=true:methodName=false}" />
        <column name="方法名" layout="${callsite:className=false:methodName=true}" />
      </layout>
    </target>
  </targets>

  <rules>

    <logger name="Debug" minLevel="Debug" writeTo="TraceFileLog" />

    <logger name="MyMathSheets.CommonLib.*" minLevel="Error" writeTo="ErrorFileLog" />
    <logger name="MyMathSheets.BasicOperationsLib.*" minLevel="Error" writeTo="ErrorFileLog" />
    <logger name="MyMathSheets.TheFormulaShows.*" minLevel="Error" writeTo="ErrorFileLog" />
    <logger name="MyMathSheets.ComputationalStrategy.*" minLevel="Error" writeTo="ErrorFileLog" />
    <logger name="MyMathSheets.MathSheetsSettingApp.*" minLevel="Error" writeTo="ErrorFileLog" />

    <logger name="Calculate" minLevel="Debug" writeTo="TraceFileLog" />
  </rules>
</nlog>