.re.divCorrectOrFault-1 {
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin-left: 80%;
    margin-top: -20%;
}

.re.input-addBorder-max {
    border: 0px !important;
    width: 90% !important;
    text-align: left;
    padding-top: 1px !important;
}

    .re.input-addBorder-max:disabled {
        background-color: #e9ecef !important;
    }

.re.ui-widget-ext {
    width: 90%;
}

.re.ui-accordion-header-ext {
    text-align: left;
}

.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
    background: url('../icons/pencil.png') no-repeat center center;
}

.ui-accordion .ui-accordion-content {
    padding: 0.5em;
    border-top: 0;
    overflow: hidden;
}