<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="Operation" type="MyMathSheets.CommonLib.Configurations.OperationProviderConfigurationSection, MyMathSheets.CommonLib" />
    <section name="PluginManage" type="MyMathSheets.CommonLib.Configurations.PluginManageProviderConfigurationSection, MyMathSheets.CommonLib" />
  </configSections>
  <Operation importType="json" argument="..\Config\"></Operation>
  <PluginManage importType="MyMathSheets.TestConsoleApp.Plugin.PluginsManager, MyMathSheets.TestConsoleApp" 
                searchKeyword="MyMathSheets.ComputationalStrategy.*.dll" 
                excludeAssemblies="[
                                    'MyMathSheets.CommonLib.dll',
                                    'MyMathSheets.BasicOperationsLib.dll'
                                    ]">
  </PluginManage>
  <common>
    <logging>
      <factoryAdapter type="MyMathSheets.CommonLib.Logging.NLogLoggerFactoryAdapter, MyMathSheets.CommonLib">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="../NLog.config" />
      </factoryAdapter>
    </logging>
  </common>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>