.divFruitDrag {
    z-index: 2;
    width: 40px;
    height: 40px;
    /* background: aliceblue; */
}

.divContainer {
    z-index: 1;
    width: 80px;
    height: 80px;
    /* background: aliceblue; */
    position: absolute;
    /* border: 1px solid #ccc; */
}

.divSeat0 {
    left: 250px;
    top: 20px;
}

.divSeat4 {
    left: 300px;
    top: 130px;
}

.divSeat7 {
    left: 300px;
    top: 230px;
}

.divSeat1 {
    left: 360px;
    top: 20px;
}

.divSeat5 {
    left: 410px;
    top: 130px;
}

.divSeat8 {
    left: 410px;
    top: 230px;
}

.divSeat2 {
    left: 470px;
    top: 20px;
}

.divSeat6 {
    left: 520px;
    top: 130px;
}

.divSeat9 {
    left: 520px;
    top: 230px;
}

.divSeat3 {
    left: 580px;
    top: 20px;
}

.easyui-panel-ext {
    position: relative;
    overflow: hidden;
    width: 800px !important;
    height: 320px !important;
    display: inline-block;
    left: 20px;
}