<!DOCTYPE html>

<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../Content/image/favicon.ico">
	<link href="../Content/bootstrap.min.css" rel="stylesheet" charset="utf-8">
	<link href="../Content/font-awesome.min.css" rel="stylesheet" charset="utf-8">
	<link title="default" href="../Content/MathSheets.css" rel="stylesheet" charset="utf-8">
	<link title="burlywood" href="../Content/switcher/MathSheets-burlywood.css" rel="stylesheet" charset="utf-8" disabled="disabled">
	<link title="coral" href="../Content/switcher/MathSheets-coral.css" rel="stylesheet" charset="utf-8" disabled="disabled">
	<link title="cornflowerblue" href="../Content/switcher/MathSheets-cornflowerblue.css" rel="stylesheet" charset="utf-8" disabled="disabled">
	<link href="../Content/Shake.css" rel="stylesheet" charset="utf-8">
	<link href="../Content/SchoolClock.css" rel="stylesheet" type="text/css" />
	<script src="../Scripts/jquery-3.3.1.min.js" charset="utf-8"></script>
	<script src="../Scripts/jquery.PrintArea.js" charset="utf-8"></script>
	<script src="../Scripts/jquery.easyui.min.js" charset="utf-8"></script>
	<script src="../Scripts/umd/popper.js" charset="utf-8"></script>
	<script src="../Scripts/bootstrap.min.js" charset="utf-8"></script>
	<script src="../Scripts/store.legacy.min.js" charset="utf-8"></script>
	<script src="../Scripts/json2.min.js" charset="utf-8"></script>
	<script src="../Scripts/snap/snap.svg-min.js"></script>
	<script src="../Scripts/jquery.rating-stars.min.js"></script>
	<script src="../Scripts/jquery.easing.1.3.js"></script>
	<script src="../Scripts/Ext/MathSheets.Common.js" charset="utf-8"></script>
	<script src="../Scripts/Ext/MathSheets.SchoolClock.js" charset="utf-8"></script>
	<title>題庫</title>

	<script>
		// 打印
		function btnPrintClick() {
			MathSheets.SchoolClock.printSetting();

			// 頁面答應處理
			MathSheets.Common.pagePrint('divPrintContent');
			// 打印后恢復頁面最初狀態設置
			MathSheets.Common.printAfterSetting('btnTheirPapers', 'btnMakeCorrections', 'btnOver');
			// 打印后頁面設定
			MathSheets.SchoolClock.printAfterSetting();
		}

		// 答題準備按鍵
		function btnReadyClick() {
			// 設定頁面所有輸入域為可用狀態(共通)-交卷按鈕顯示,準備按鈕隱藏,打印按鈕隱藏
			MathSheets.Common.ready('btnTheirPapers', 'btnReady', 'btnPrint');
			// 設定頁面所有輸入域為可用狀態(時鐘學習板)
			MathSheets.SchoolClock.ready();

			// 計時開始
			MathSheets.Common.startTime('spanSS', 'spanMM', 'spanHH');
		}

		// 完成(關閉頁面)
		function btnOverClick() {
			MathSheets.Common.windowClose();
		}

		// 訂正按鈕(不計入答題情況信息)
		function btnMakeCorrectionsClick() {
			var fault = 0;
			// 時鐘學習板
			fault += MathSheets.SchoolClock.makeCorrections();

			// 訂正按鈕處理
			MathSheets.Common.makeCorrections(fault, 'btnMakeCorrections', 'btnOver');
		}

		// 交卷按鈕(記錄在答題情況下,以便可以看到前一次做題情況)
		function btnTheirPapersClick() {
			// 時鐘學習板
			MathSheets.SchoolClock.theirPapers();

			// 交卷按鈕處理
			MathSheets.Common.theirPapers('spanOK', 'spanNo', 'btnMakeCorrections', 'btnOver', 'btnTheirPapers');
			// 計時停止（答題結果設定）
			MathSheets.Common.timeStop('spanSS', 'spanMM', 'spanHH');
		}
	</script>
</head>
<body class="body-main">
	<div class="box">
		<div class="box-content">
			<a href="#" class="close close-ext" id="close">&times;</a>
			<ul class="switcher">
				<li style="background-color: burlywood;" id="burlywood"></li>
				<li style="background-color: coral;" id="coral"></li>
				<li style="background-color: cornflowerblue;" id="cornflowerblue"></li>
			</ul>
		</div>
	</div>
	<div class="navbar navbar-fixed-top navbar-ext">
		<img src="../Content/image/triangle.png" class="imgNavbar" />
	</div>
	<div class="container theme-showcase main-ext" role="main">
		<div class="jumbotron-ext">
			<div style="margin-bottom: 50px;"><span class="label label-default label-title">歡迎，數學運算</span></div>
			<div class="div-famousPeople">
				<h6>
					<span class="text-info-ext">普羅克拉斯：哪裡有數，哪裡就有美。</span>
					<br />
					<span class="text-info-ext">羅素：數學，如果正常的看它，不但擁有真理，而且也具有至高的美，正如雕塑的美，是一種冷而嚴肅的美。"</span>
					<br />
					<span class="text-info-ext">華羅庚：數學是壯麗多彩、千姿百態、引人入勝的，認為數學枯燥乏味的人，只是看到了數學的嚴謹性，而沒有體會出數學的內在美。"</span>
				</h6>
			</div>
			<hr class="hr-Ext" />
			<div class="text-info-ext">
				前一次做題用時:<span id="spanOld" style="padding-left:10px;">00：00：00</span>
				<span style="padding-left:20px;">答對:</span><span id="spanOldOK" style="padding-left:10px;"></span>題
				<span style="padding-left:20px;">答錯:</span><span id="spanOldNo" style="padding-left:10px;"></span>題
			</div>
			<div class="plugin-butterfly">
				<iframe frameborder="0" scrolling="no" src="../Plugin/butterfly.html" width="320" height="250"></iframe>
			</div>
		</div>
		<div id="divPrintContent">
			<br /><div class="page-header"><h4><img src="../Content/image/homework.png" width="30" height="30" /><span style="padding: 8px">時鐘學習板</span></h4></div><hr /><div class="row text-center row-margin-top">
				<div class="col-md-4 line-height">
					<img src="../Content/image/clock/Moon.png" style="width: 30px; height: 30px;" data-toggle="tooltip" title="下午" />
					<div class="watch-section">
						<div class="watch-inner">
							<div class="faces">
								<div class="face face4">
									<svg id="clock0" class="clock"></svg>
								</div>
							</div>
						</div>
					</div>
					<div class="form-inline clock-inline">
						<input id="inputClockH0" type="text" placeholder="時" class="form-control input-addBorder hours" style="width: 50px; text-align:center;" disabled="disabled" onkeyup="if(!/^\d+$/.test(this.value)) this.value='';" />
						<span class="label">:</span>
						<input id="inputClockM0" type="text" placeholder="分" class="form-control input-addBorder minutes" style="width: 50px; text-align:center;" disabled="disabled" onkeyup="if(!/^\d+$/.test(this.value)) this.value='';" />
						<span class="label">:</span>
						<input id="inputClockS0" type="text" placeholder="秒" class="form-control input-addBorder seconds" style="width: 50px; text-align:center;" disabled="disabled" onkeyup="if(!/^\d+$/.test(this.value)) this.value='';" />
						<div class="divCorrectOrFault-1">
							<img id="imgOKSchoolClock0" src="../Content/image/correct.png" class="imgCorrect-1" />
							<img id="imgNoSchoolClock0" src="../Content/image/fault.png" class="imgFault-1" />
						</div>
					</div>
				</div>
				<div class="col-md-4 line-height">
					<img src="../Content/image/clock/Moon.png" style="width: 30px; height: 30px;" data-toggle="tooltip" title="深夜" />
					<div class="watch-section">
						<div class="watch-inner">
							<div class="faces">
								<div class="face face4">
									<svg id="clock1" class="clock"></svg>
								</div>
							</div>
						</div>
					</div>
					<div class="form-inline clock-inline">
						<input id="inputClockH1" type="text" placeholder="時" class="form-control input-addBorder hours" style="width: 50px; text-align:center;" disabled="disabled" onkeyup="if(!/^\d+$/.test(this.value)) this.value='';" />
						<span class="label">:</span>
						<input id="inputClockM1" type="text" placeholder="分" class="form-control input-addBorder minutes" style="width: 50px; text-align:center;" disabled="disabled" onkeyup="if(!/^\d+$/.test(this.value)) this.value='';" />
						<span class="label">:</span>
						<input id="inputClockS1" type="text" placeholder="秒" class="form-control input-addBorder seconds" style="width: 50px; text-align:center;" disabled="disabled" onkeyup="if(!/^\d+$/.test(this.value)) this.value='';" />
						<div class="divCorrectOrFault-1">
							<img id="imgOKSchoolClock1" src="../Content/image/correct.png" class="imgCorrect-1" />
							<img id="imgNoSchoolClock1" src="../Content/image/fault.png" class="imgFault-1" />
						</div>
					</div>
				</div>
				<div class="col-md-4 line-height">
					<img src="../Content/image/clock/Sun.png" style="width: 30px; height: 30px;" data-toggle="tooltip" title="凌晨" />
					<div class="watch-section">
						<div class="watch-inner">
							<div class="faces">
								<div class="face face4">
									<svg id="clock2" class="clock"></svg>
								</div>
							</div>
						</div>
					</div>
					<div class="form-inline clock-inline">
						<input id="inputClockH2" type="text" placeholder="時" class="form-control input-addBorder hours" style="width: 50px; text-align:center;" disabled="disabled" onkeyup="if(!/^\d+$/.test(this.value)) this.value='';" />
						<span class="label">:</span>
						<input id="inputClockM2" type="text" placeholder="分" class="form-control input-addBorder minutes" style="width: 50px; text-align:center;" disabled="disabled" onkeyup="if(!/^\d+$/.test(this.value)) this.value='';" />
						<span class="label">:</span>
						<input id="inputClockS2" type="text" placeholder="秒" class="form-control input-addBorder seconds" style="width: 50px; text-align:center;" disabled="disabled" onkeyup="if(!/^\d+$/.test(this.value)) this.value='';" />
						<div class="divCorrectOrFault-1">
							<img id="imgOKSchoolClock2" src="../Content/image/correct.png" class="imgCorrect-1" />
							<img id="imgNoSchoolClock2" src="../Content/image/fault.png" class="imgFault-1" />
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center row-margin-top">
				<div class="col-md-4 line-height">
					<img src="../Content/image/clock/Moon.png" style="width: 30px; height: 30px;" data-toggle="tooltip" title="深夜" />
					<div class="watch-section">
						<div class="watch-inner">
							<div class="faces">
								<div class="face face4">
									<svg id="clock3" class="clock"></svg>
								</div>
							</div>
						</div>
					</div>
					<div class="form-inline clock-inline">
						<input id="inputClockH3" type="text" placeholder="時" class="form-control input-addBorder hours" style="width: 50px; text-align:center;" disabled="disabled" onkeyup="if(!/^\d+$/.test(this.value)) this.value='';" />
						<span class="label">:</span>
						<input id="inputClockM3" type="text" placeholder="分" class="form-control input-addBorder minutes" style="width: 50px; text-align:center;" disabled="disabled" onkeyup="if(!/^\d+$/.test(this.value)) this.value='';" />
						<span class="label">:</span>
						<input id="inputClockS3" type="text" placeholder="秒" class="form-control input-addBorder seconds" style="width: 50px; text-align:center;" disabled="disabled" onkeyup="if(!/^\d+$/.test(this.value)) this.value='';" />
						<div class="divCorrectOrFault-1">
							<img id="imgOKSchoolClock3" src="../Content/image/correct.png" class="imgCorrect-1" />
							<img id="imgNoSchoolClock3" src="../Content/image/fault.png" class="imgFault-1" />
						</div>
					</div>
				</div>
				<div class="col-md-4 line-height">
					<img src="../Content/image/clock/Moon.png" style="width: 30px; height: 30px;" data-toggle="tooltip" title="中午" />
					<div class="watch-section">
						<div class="watch-inner">
							<div class="faces">
								<div class="face face4">
									<svg id="clock4" class="clock"></svg>
								</div>
							</div>
						</div>
					</div>
					<div class="form-inline clock-inline">
						<input id="inputClockH4" type="text" placeholder="時" class="form-control input-addBorder hours" style="width: 50px; text-align:center;" disabled="disabled" onkeyup="if(!/^\d+$/.test(this.value)) this.value='';" />
						<span class="label">:</span>
						<input id="inputClockM4" type="text" placeholder="分" class="form-control input-addBorder minutes" style="width: 50px; text-align:center;" disabled="disabled" onkeyup="if(!/^\d+$/.test(this.value)) this.value='';" />
						<span class="label">:</span>
						<input id="inputClockS4" type="text" placeholder="秒" class="form-control input-addBorder seconds" style="width: 50px; text-align:center;" disabled="disabled" onkeyup="if(!/^\d+$/.test(this.value)) this.value='';" />
						<div class="divCorrectOrFault-1">
							<img id="imgOKSchoolClock4" src="../Content/image/correct.png" class="imgCorrect-1" />
							<img id="imgNoSchoolClock4" src="../Content/image/fault.png" class="imgFault-1" />
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" id="hidClocksAnswer" value="17:0:0;23:30:0;5:0:0;22:15:0;12:15:0" />
		</div>
		<HR>
		<div class="row">
			<div class="col-md-12 col-md-offset-3">
				<p class="text-center">
					<button id="btnReady" type="button" class="btn btn-lg btn-success">準備</button>
					<button id="btnTheirPapers" type="button" class="btn btn-lg btn-success" style="display:none;">交卷</button>
					<button id="btnMakeCorrections" type="button" class="btn btn-lg btn-warning" style="display:none;">訂正</button>
					<button id="btnOver" type="button" class="btn btn-lg btn-info" style="display:none;">完成</button>
					<button id="btnPrint" type="button" class="btn btn-lg btn-info">打印</button>
				</p>
			</div>
		</div>
		<div class="page-header">
			<div class="row text-left">
				<div class="col-md-2">
					<h5>答題情況</h5>
				</div>
				<div class="col-md-9">
					<div class="rating-stars block" id="more-rating" style="display: none;">
						<input type="hidden" id="hidPracticeScore" value="0" class="rating-value" />
						<div class="rating-stars-container">
							<div class="rating-star shake shake-slow">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star shake shake-slow">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star shake shake-slow">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star shake shake-slow">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star shake shake-slow">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star shake shake-slow">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star shake shake-slow">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star shake shake-slow">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star shake shake-slow">
								<i class="fa fa-star"> </i>
							</div>
							<div class="rating-star shake shake-slow">
								<i class="fa fa-star"> </i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row text-left">
			<div class="col-md-12">
				<h7>
					用時:<span id="spanHH" style="padding-left:10px;">00</span>：<span id="spanMM">00</span>：<span id="spanSS">00</span>
					<br />答對:<span id="spanOK" style="width: 30px; display:inline; padding-left:20px;">11</span>題
					<br />答錯:<span id="spanNo" style="width: 30px; display:inline; padding-left:20px;">11</span>題
				</h7>
			</div>
		</div>
	</div>
	<div class="div-company">
		&copy; MyMathSheets.HOME 2018
	</div>
	<a href="javascript:" class="totop"></a>
</body>
</html>