@import url(../default.css);
@import url(MathSheets.css);

.body-main {
	background-color: coral;
}

.main-ext {
	background-color: mistyrose;
	border-radius: 0.8rem;
	-webkit-box-shadow: 0 0 15px;
}

.bs-docs-sidebar a {
	color: blue;
}

.bs-docs-sidebar a:hover,
.bs-docs-sidebar a.active {
	color: white;
}

.totop {
	width: 60px;
	height: 60px;
	background: url(../../Content/image/navigate-up.png) center no-repeat mistyrose;
	background-size: 30px 30px;
	border-radius: 50%;
	position: fixed;
	right: 50px;
	bottom: 50px;
	display: none;
	z-index: 70;
}

.totop:hover {
	background: url(../../Content/image/navigate-up.png) center no-repeat white;
	background-size: 36px 36px;
	-webkit-box-shadow: 0 0 10px;
}