
.span-tc-lighton {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url(../Content/image/lighton.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.span-tc-lightoff {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url(../Content/image/lightoff.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

span.timeImg {
	background-image: url(../Content/image/clock/time.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 25px;
	height: 25px;
}