
@media screen and (min-width: 1200px) {
	.container {
		max-width: 980px!important;
	}
}

.body-main {
	background-color: lemonchiffon;
}

.div-company {
	text-align: right;
	font-family: inherit;
	font-size: xx-small;
	margin-top:30px;
}

.box {
	position: fixed;
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-color: transparent;
	margin: 0px auto;
	top: 0px;
	left: 0px;
	text-align: center;
	display: none;
	margin-top: 5px
}

.imgNavbar {
	height: 10px;
	width: 10px;
}

.box-content {
	position: relative;
	width: 18%;
	float: right;
	margin-right: 35px;
	height: 45px;
	background-color: honeydew;
	border-radius: 0.2rem;
	-webkit-box-shadow: 0 0 7px;
}

.navbar-ext {
	justify-content: flex-end!important;
}

.switcher{
	padding:12px 12px 12px 12px;
	margin-top:0px;
	margin-bottom: 25px;
	max-height:30px;
	min-height:30px;
	width:100%;
}

.close-ext {
	padding: 6px 12px 12px 30px;
	float: right;
}

.switcher li {
	transition: all 1s ease;
	border-radius: 30px;
	list-style: none;
	margin: 0px 12px 10px 0px;
	width: 25px;
	height: 25px;
	float: right;
	cursor: pointer;
	border: 1px solid black;
}

.switcher li:hover {
	width: 30px;
	height: 30px;
	-webkit-box-shadow: 0 0 7px;
}

.bs-docs-sidebar {
	position: fixed;
	width: 100%;
	background-color: transparent;
	letter-spacing: 4px;
	top: 250px;
	padding-right:12px;
	z-index: 999;
}

.nav-ext{
	display: unset;
	float: right;
}

.bs-docs-sidebar ul li {
	cursor: pointer;
	font: italic bold 12px/20px arial,sans-serif;
}

.bs-docs-sidebar ul li a:hover {
	color: darkorange;
}

.totop {
	width: 60px;
	height: 60px;
	background: url(../Content/image/navigate-up.png) center no-repeat darkred;
	background-size: 30px 30px;
	border-radius: 50%;
	position: fixed;
	right: 50px;
	bottom: 50px;
	display: none;
	z-index: 999;
}

.plugin-butterfly {
	position: absolute;
	top: 10px;
	left: 90px;
}

.row-margin-top {
	margin-top: 10px;
}

.hr-Ext {
	margin-bottom: 0rem;
}

.jumbotron-ext {
	padding: 2rem 3rem;
	border-radius: 0.8rem;
	background: url("../Content/image/timg.png") no-repeat;
	background-size: 100% 100%;
}

.main-ext {
	background-color: aliceblue;
	border-radius: 0.8rem;
	-webkit-box-shadow: 0 0 15px;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.btn-square {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
}

.input-print {
	border: 1px solid black;
}

.input-addBorder {
	border: 1px solid black;
}

.button-addBorder {
	border: 1px solid black;
	background: white;
}

.label-title {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	font-size: 2.5rem;
	color: white;
}

.div-famousPeople {
	margin-left: 30px;
}

.text-info-ext {
	color: #6c757d !important;
	font-size: 0.7rem;
}

.form-inline-ext {
	padding-left: 15px;
	padding-right: 8px;
	text-align: left !important
}

.fruitsImg {
	margin-top: -10px;
}

.list-group-ext {
	width: 100%;
}

svg {
	position: absolute;
	z-index: 1;
}

.rating-stars {
	width: 100%;
	display: inline-block;
	color: #555555;
	cursor: pointer;
}

.rating-stars-container {
	display: inline-block;
	color: #555555;
	cursor: pointer;
	padding: 5px 10px;
}

.rating-star {
	display: inline-block;
	font-size: 32px;
	color: #555555;
	cursor: pointer;
	padding: 5px 10px;
}

.rating-stars .rating-stars-container .rating-star.is--active,
.rating-stars .rating-stars-container .rating-star.is--hover {
	color: #f1c40f;
}

.rating-stars .rating-stars-container .rating-star.is--no-hover {
	color: #555555;
}

.divCorrectOrFault-1 {
	width: 40px;
	height: 40px;
	background-color: transparent;
	margin-left: 4px;
	margin-top: -10px;
}

.imgCorrect-1 {
	width: 40px;
	height: 40px;
	display: none;
}

.imgFault-1 {
	width: 0px;
	height: 0px;
	display: none;
	margin: auto;
}

.divCorrectOrFault-2 {
	width: 20px;
	height: 20px;
	background-color: transparent;
	margin-left: 4px;
	margin-top: -10px;
}

.imgCorrect-2 {
	width: 20px;
	height: 20px;
	display: none;
}

.imgFault-2 {
	width: 0px;
	height: 0px;
	display: none;
	margin: auto;
}

.divCorrectOrFault-3 {
	width: 30px;
	height: 30px;
	background-color: transparent;
	margin-left: 4px;
	margin-top: -10px;
}

.imgCorrect-3 {
	width: 30px;
	height: 30px;
	display: none;
}

.imgFault-3 {
	width: 0px;
	height: 0px;
	display: none;
	margin: auto;
}

.divCorrectOrFault-4 {
	width: 60px;
	height: 60px;
	background-color: transparent;
	margin-left: 4px;
	margin-top: -10px;
}

.imgCorrect-4 {
	width: 60px;
	height: 60px;
	display: none;
}

.imgFault-4 {
	width: 0px;
	height: 0px;
	display: none;
	margin: auto;
}