.panel-body {
    font-size: 1.25rem;
}

.input-addBorder-max {
    border: 0px !important;
    width: 90% !important;
    background-color: transparent !important;
    text-align: left;
    padding-top: 1px !important;
}

    .input-addBorder-max:disabled {
        background-color: #e9ecef !important;
    }

.panel-title {
    padding-left: 30px;
    font-size: 1.25rem;
    font-weight: normal;
}
