@import url(../default.css);

.body-main {
	background-color: lemonchiffon;
}

.main-ext {
	background-color: aliceblue;
	border-radius: 0.8rem;
	-webkit-box-shadow: 0 0 15px;
}

.list-group-ext .list-group-item {
	padding: unset;
	border: unset;
	background-color: transparent;
}

.totop {
	width: 60px;
	height: 60px;
	background: url(../../Content/image/navigate-up.png) center no-repeat darkred;
	background-size: 30px 30px;
	border-radius: 50%;
	position: fixed;
	right: 50px;
	bottom: 50px;
	display: none;
	z-index: 70;
}

.jumbotron-ext {
	padding: 2rem 3rem;
	border-radius: 0.8rem;
	background: url("../../Content/image/theme.png") no-repeat;
	background-size: 100% 100%;
}

.ui-state-default {
	background: wheat;
}

.ui-state-hover {
	background: beige;
}

.ui-state-active {
	background-color: lightblue;
	color: black;
}